[class*="box"]{
  background-color: $background-color-boxes;
  border-radius: 0px;
  border: 1px solid $border-color;
  margin: 0px 10px 10px 0;
}

.box-initial{
  //height: 150px;

  header{
		padding: 10px 0 0 10px;
		display: flex;
	}

	content{
		padding: 10px;
		display: flex;

		.photo{
			height: 40px;
			width: 40px;
			background: $color-divider;
		}

		textarea{
			border: none;
			outline: none;
			resize: none;
			margin-left: 10px;
			width: 100%;
			padding-top: 5px;
			@include font-style($color:$color-divider, $size:14px, $line-height: 15px);
			font-family: $font-family;
		}
  }

  footer{
		display: flex;
		justify-content: flex-end;
	  padding: 5px 0 10px;
	}
}

.input-archive{
	display: inline-block;
	overflow: hidden;
	position: relative;
	border-radius: 2px;
	padding: 0 5px;
	@include font-style($color-font-secondary, $weight:bold);
  font-family: $font-family;

	&:before {
		content: "";
		display: inline-block;
		vertical-align: middle;
		margin-right: 5px;
		width: 16px;
		height: 16px;

	}

	&.photo{
		&:before{
			background-image: url(../image/photo.png);
		}
	}

	&.album{
		&:before{
			background-image: url(../image/folder.png);
		}
	}

	&:hover{
		background-color: #f6f7f9;
	}

}

.box-publication{
  height: 500px;
}

.box-info{
  height: 370px;
}

.box-languages{
  height: 55px;
}
