html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline; }

body {
  line-height: 1; }

* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-decoration: none;
  outline: none; }

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: white;
  font-family: "Open Sans", arial, sans-serif; }

input[type="file"] {
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0; }

.button-pattern, .button-featured {
  border-radius: 0px;
  height: 25px;
  margin-right: 10px; }

.button-pattern {
  background: #F6F7F9;
  border: 1px solid #CED0D4;
  color: #4B4F56;
  font-size: 12px;
  font-weight: bold;
  line-height: 22px;
  display: inline-block; }
  .button-pattern:before {
    content: "";
    position: absolute;
    margin-right: 5px;
    width: 12px;
    margin: 4px; }
  .button-pattern:hover {
    background-color: #E9EBEE; }
  .button-pattern span {
    margin-left: 24px; }

.button-featured {
  background: white;
  border: 1px solid white;
  color: #FFFFFF;
  font-size: 12px;
  font-weight: bold;
  line-height: 22px; }
  .button-featured:hover {
    background-color: #00a3cc; }

.vertical-divider {
  border-left: 1px solid #CCC;
  margin: 0 10px; }

.horizontal-divider {
  border-bottom: 1px solid #CCC;
  margin: 5px 10px; }

.icon-world:before {
  background-image: url(../image/mundo.png); }

.actions .like-btn {
  position: relative;
  color: #7f7f7f;
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
  line-height: 14px;
  margin-right: 20px;
  padding: 8px;
  cursor: pointer; }
  .actions .like-btn:before {
    background-image: url("../image/curtir.png");
    background-repeat: no-repeat;
    content: '';
    display: inline-block;
    margin: 0 6px -3px 0;
    width: 14px;
    height: 14px; }

.reactions {
  position: absolute;
  padding: 5px;
  margin-top: -70px;
  box-shadow: 1px 1px 2px #cccccc, -1px 0px 2px #eeeeee;
  border-radius: 44px 44px;
  flex-direction: row;
  display: none;
  z-index: 1; }
  .reactions div {
    cursor: pointer;
    width: 40px;
    height: 40px;
    margin: 0 5px;
    display: flex;
    justify-content: center; }
    .reactions div span {
      display: block;
      text-align: center;
      position: absolute;
      padding: 3px;
      background-color: #333333;
      border-radius: 10px;
      font-size: 0.8em;
      color: #FFF;
      opacity: 0;
      top: -25px; }
    .reactions div:hover {
      transform: scale(1.3, 1.3) translateY(-5px); }
      .reactions div:hover span {
        opacity: 0.9; }

.like:hover .reactions {
  display: flex; }

.reaction-like {
  background: url(../image/curti.png); }

.reaction-love {
  background: url("../image/amei.png"); }

.reaction-haha {
  background: url("../image/haha.png"); }

.reaction-wow {
  background: url("../image/uau.png"); }

.reaction-sad {
  background: url("../image/triste.png"); }

.reaction-angry {
  background: url("../image/grr.png"); }

.content {
  min-height: 600px;
  display: flex;
  justify-content: space-between; }

.main-content {
  display: flex;
  justify-content: center;
  width: 100%; }

.main-content > div {
  display: flex;
  margin: 10px; }

.header {
  height: 55px;
  background-color: #00ccff;
  border-bottom: 1px solid #00abd6;
  padding: 10px 60px;
  font-size: 12px;
  font-family: "Open Sans", arial, sans-serif;
  font-weight: 600; }
  .header .line {
    height: 24px;
    align-items: center;
    margin-top: 5px; }
  .header [class*="panel"] {
    align-items: center; }
  .header .icon {
    background: #ffffff;
    height: 24px;
    width: 24px; }
  .header .search {
    margin-left: 10px;
    height: 24px;
    width: 24px;
    width: 450px;
    background: #ffffff; }
  .header .user {
    color: #ffffff; }
    .header .user:before {
      content: "";
      display: inline-block;
      vertical-align: middle;
      margin-right: 5px;
      height: 24px;
      width: 24px;
      background: #00a5ac; }
  .header .person {
    background: url(..image/pessoas.png);
    margin-right: 10px;
    height: 24px;
    width: 24px; }
  .header .message {
    background: url(..image/mensagem.png);
    height: 24px;
    width: 24px;
    margin-right: 10px; }
  .header .world {
    background: url(..image/mundo-cabecalho.png);
    height: 24px;
    width: 24px; }
  .header .home {
    color: #ffffff; }
  .header .vertical-divider {
    height: 20px;
    border-left: 1px solid #365089; }

.feed-news {
  width: 500px; }

.informations-account {
  width: 180px;
  margin-right: 10px; }

.info-general {
  font-size: 12px;
  font-family: "Open Sans", arial, sans-serif; }
  .info-general ul {
    list-style-type: none;
    padding: 0;
    margin: 0; }
    .info-general ul h4 {
      margin: 15px 0 0;
      color: #666;
      font-size: 12px;
      font-weight: normal;
      line-height: 22px;
      text-transform: uppercase; }
    .info-general ul li a {
      width: 170px;
      text-decoration: none;
      display: inline-block;
      padding: 5px;
      border-radius: 3px;
      color: #1d2129;
      font-size: 12px;
      font-weight: normal;
      line-height: 16px; }
      .info-general ul li a:before {
        content: "";
        display: inline-block;
        vertical-align: middle;
        margin-right: 5px;
        width: 16px;
        height: 16px;
        background-image: url("../image/defaultIcon.png"); }
      .info-general ul li a:hover {
        background-color: white; }

.other-informations {
  width: 310px; }

.sidebar {
  width: 200px;
  border-left: 1px solid #ccc; }

[class*="box"] {
  background-color: #ffffff;
  border-radius: 0px;
  margin: 0px 10px 20px 0; }

.box-initial {
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22); }
  .box-initial header {
    padding: 10px 0 0 10px;
    display: flex; }
  .box-initial content {
    padding: 10px;
    display: flex; }
    .box-initial content .photo {
      height: 40px;
      width: 40px;
      background: #CCC; }
    .box-initial content textarea {
      border: none;
      outline: none;
      resize: none;
      margin-left: 10px;
      width: 100%;
      padding-top: 5px;
      color: #CCC;
      font-size: 14px;
      font-weight: normal;
      line-height: 15px;
      font-family: "Open Sans", arial, sans-serif; }
  .box-initial footer {
    display: flex;
    justify-content: flex-end;
    padding: 5px 0 10px; }

.input-archive {
  display: inline-block;
  overflow: hidden;
  position: relative;
  border-radius: 2px;
  padding: 0 5px;
  color: #00a3cc;
  font-size: 12px;
  font-weight: bold;
  line-height: 22px;
  font-family: "Open Sans", arial, sans-serif; }
  .input-archive:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
    width: 16px;
    height: 16px; }
  .input-archive.photo:before {
    background-image: url(../image/photo.png); }
  .input-archive.album:before {
    background-image: url(../image/folder.png); }
  .input-archive:hover {
    background-color: #f6f7f9; }

.box-publication {
  height: 500px;
  display: flex;
  align-items: flex-end;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22); }

.box-info {
  height: 370px;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22); }

.box-languages {
  height: 55px;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22); }

.line {
  display: flex; }

[class*="panel"] {
  margin: 5px;
  display: flex; }

.panel-1 {
  flex: 1; }

.panel-2 {
  flex: 2; }

.panel-3 {
  flex: 3; }

.panel-4 {
  flex: 4; }

.panel-5 {
  flex: 5; }

.panel-6 {
  flex: 6; }

.panel-7 {
  flex: 7; }

.panel-8 {
  flex: 8; }

.panel-9 {
  flex: 9; }

.panel-10 {
  flex: 10; }

.panel-11 {
  flex: 11; }

.panel-12 {
  flex: 12; }
