$color-base: #3b5998;
$color-main-font: #1d2129;
$color-font-secondary: #365899;
$color-featured-font: #ffffff;
$color-link-font: #365899;
$color-main-hover: #dddfe2;
$background-color: #e9ebee;
$border-color:#ccc;
$background-color-boxes: #ffffff;
$color-divider: #CCC;

$font-size: 12px;
$font-family: 'Open Sans', arial, sans-serif;

$button-pattern: #F6F7F9;
$button-pattern-hover: #E9EBEE;
$button-pattern-border: #CED0D4;
$button-pattern-font: #4B4F56;
$button-featured: #4267B2;
$button-featured-hover: #365899;
$button-featured-border: #4267B2;
$button-featured-font: #FFFFFF;

$main-color: #3e4fb2;
$main-color-title: #000000;
$main-color-test: #000056;


@mixin ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@mixin font-style($color, $size:12px, $weight:normal, $line-height:22px) {
  color: $color;
  font-size: $size;
  font-weight: $weight;
  line-height: $line-height;
}

/*@mixin shadow-big-navbar(){
    box-shadow: 0 10px 20px -12px rgba(0, 0, 0, $mdb-shadow-key-penumbra-opacity * 3),
    0  3px 20px 0px rgba(0, 0, 0, $mdb-shadow-ambient-shadow-opacity),
    0  8px 10px -5px rgba(0, 0, 0, $mdb-shadow-key-umbra-opacity);
}*/

body{
  margin: 0;
  padding: 0;
  background-color: $background-color;
}

.header{
  height: 50px;
  background-color: $color-base;
  border-bottom: 1px solid $color-base;
  //@include shadow-big-navbar();
}

.content{
  min-height: 600px;
  display: flex;
  justify-content: space-between;
}

.main-content{
  display: flex;
  justify-content: center;
  width: 100%;
}

.main-content > div{
  display: flex;
  margin: 10px;
}

[class*="box"]{
  background-color: $background-color-boxes;
  border-radius: 0px;
  border: 1px solid $border-color;
  margin: 0px 10px 10px 0;
}

.side-bar{
  width: 200px;
  border-left: 1px solid $border-color;
}

.informations-account{
  width: 180px;
  margin-right: 10px;
}

.feed-news{
  width: 500px;
}

.other-informations{
  width: 310px;
}

.box-initial{
  //height: 150px;

  header{
		padding: 10px 0 0 10px;
		display: flex;
	}

	content{
		padding: 10px;
		display: flex;

		.photo{
			height: 40px;
			width: 40px;
			background: $color-divider;
		}

		textarea{
			border: none;
			outline: none;
			resize: none;
			margin-left: 10px;
			width: 100%;
			padding-top: 5px;
			@include font-style($color:$color-divider, $size:14px, $line-height: 15px);
			font-family: $font-family;
		}
  }

  footer{
		display: flex;
		justify-content: flex-end;
	  padding: 5px 0 10px;
	}


}

.input-archive{
	display: inline-block;
	overflow: hidden;
	position: relative;
	border-radius: 2px;
	padding: 0 5px;
	@include font-style($color-font-secondary, $weight:bold);
  font-family: $font-family;

	&:before {
		content: "";
		display: inline-block;
		vertical-align: middle;
		margin-right: 5px;
		width: 16px;
		height: 16px;

	}

	&.photo{
		&:before{
			background-image: url(../image/photo.png);
		}
	}

	&.album{
		&:before{
			background-image: url(../image/folder.png);
		}
	}

	&:hover{
		background-color: #f6f7f9;
	}

}

.vertical-divider{
	border-left: 1px solid $color-divider;
	margin: 0 10px;
}

.horizontal-divider{
	border-bottom: 1px solid $color-divider;
	margin: 5px 10px;
}

%botao{
  border-radius: 0px;
  height: 25px;
  margin-right: 10px;
}

.button-pattern{
  @extend %botao;
  background: $button-pattern;
  border: 1px solid $button-pattern-border;
  @include font-style($color: $button-pattern-font, $weight:bold);
  display: inline-block;

  &:before{
    content: "";
    position: absolute;
    margin-right: 5px;
    width: 12px;
    margin: 4px;
  }
  &:hover{
    background-color: $button-pattern-hover;
  }
  span{
    margin-left: 24px;
  }
}

.button-featured{
  @extend %botao;
  background: $button-featured;
  border: 1px solid $button-featured-border;
  @include font-style($color:$button-featured-font, $weight:bold);

  &:hover{
    background-color: $button-featured-hover;
  }
}

.icon-world:before{
  background-image: url(../image/mundo.png);
}

input[type="file"]{
	overflow: hidden;
	position: absolute;
	top: 0;
	right: 0;
	opacity: 0;

}

.box-publication{
  height: 500px;
}

.box-info{
  height: 370px;
}

.box-languages{
  height: 55px;
}

.info-general{
  font-size: $font-size;
  font-family: $font-family;
  ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    h4{
      margin: 15px 0 0;
      @include font-style($color: #666);
      text-transform: uppercase;
    }
    li{
      a{
        width: 170px;
        text-decoration: none;
        display: inline-block;
        padding: 5px;
        border-radius: 3px;
        @include font-style($color: $color-main-font, $line-height: 16px);
        &:before{
          content: "";
          display: inline-block;
          vertical-align: middle;
          margin-right: 5px;
          width: 16px;
          height: 16px;
          background-image: url('../image/defaultIcon.png');
        }
        &:hover{
          background-color: $color-main-hover;
        }
      }
    }
  }
}

a{
  width: 170px;
  text-decoration: none;
  display: inline-block;
  padding: 5px;
  border-radius: 3px;
  color: $color-main-font;
  @include ellipsis;
}
