#sidebar {
  min-width: 250px;
  max-width: 250px;
  background: #7386D5;
  color: #fff;
  transition: all 0.6s cubic-bezier(0.945, 0.02, 0.27, 0.665);
  transform-origin: bottom left;
  &.active {
    margin-left: -250px;
    transform: rotateY(100deg);
  }
  .sidebar-header {
    padding: 20px;
    background: #6d7fcc;
  }
  ul {
    &.components {
      padding: 20px 0;
      border-bottom: 1px solid #47748b;
    }
    p {
      color: #fff;
      padding: 10px;
    }
    li {
      a {
        padding: 10px;
        font-size: 1.1em;
        display: block;
        &:hover {
          color: #7386D5;
          background: #fff;
        }
      }
      &.active > a {
        color: #fff;
        background: #6d7fcc;
      }
    }
  }
}

a {
  &[aria-expanded="true"] {
    color: #fff;
    background: #6d7fcc;
  }
  &[data-toggle="collapse"] {
    position: relative;
  }
  &[aria-expanded="false"]::before {
    content: '\e259';
    display: block;
    position: absolute;
    right: 20px;
    font-family: 'Glyphicons Halflings';
    font-size: 0.6em;
  }
  &[aria-expanded="true"]::before {
    content: '\e259';
    display: block;
    position: absolute;
    right: 20px;
    font-family: 'Glyphicons Halflings';
    font-size: 0.6em;
    content: '\e260';
  }
}

ul {
  ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
  }
  &.CTAs {
    padding: 20px;
    a {
      text-align: center;
      font-size: 0.9em !important;
      display: block;
      border-radius: 5px;
      margin-bottom: 5px;
    }
  }
}

a {
  &.download {
    background: #fff;
    color: #7386D5;
  }
  &.article {
    background: #6d7fcc !important;
    color: #fff !important;
    &:hover {
      background: #6d7fcc !important;
      color: #fff !important;
    }
  }
}
