body{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background-color: $background-color;
	font-family: $font-family;
}

input[type="file"]{
	overflow: hidden;
	position: absolute;
	top: 0;
	right: 0;
	opacity: 0;

}
