$color-base: #3b5998;
$color-main-font: #1d2129;
$color-font-secondary: #365899;
$color-featured-font: #ffffff;
$color-link-font: #365899;
$color-main-hover: #dddfe2;
$background-color: #e9ebee;
$border-color:#ccc;
$background-color-boxes: #ffffff;
$color-divider: #CCC;

$button-pattern: #F6F7F9;
$button-pattern-hover: #E9EBEE;
$button-pattern-border: #CED0D4;
$button-pattern-font: #4B4F56;
$button-featured: #4267B2;
$button-featured-hover: #365899;
$button-featured-border: #4267B2;
$button-featured-font: #FFFFFF;
