body{
  .container{
    .artigo{
      .titulo{
        h1{
          font-size: 20px;
        }
        h2{
          font-size: 15px;
        }
      }
      .conteudo{
        background-color: #ccc;
        .secaoPrincipal{
          font-size: 14px;
          .redes{
            padding: 10px;
            nav{
              padding-top: 40px;
              ul{
                margin:0;
                li{
                  display: inline;
                  a{
                    text-decoration: none;
                    &:hover{}
                    color: red;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
