.menuSuperior{
  padding-top: 40px;
  ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: center;
    li{
      display: inline;
      a{
        text-decoration: none;
        padding: 10px 30px;
        color: #ffffff;
        background-color: #1c1c1c;
        font-size: 18px;
        &:hover{
          background-color: #999999;
          color: #000000;
          box-shadow: 0 5px 10px #ccc;
          text-shadow: 1px 1px 1px #ccc;
        }
      }
    }
  }
}

$colorRequired: #FF0000;
.obrigatorio{
  box-shadow: -2px 0px 0px 0px $colorRequired;

  &.invalido{
    border: 1px solid $colorRequired;
  }
}

.card{
  background: white;
  box-shadow: 0 5px 15px 0 rgba( 0, 0, 0, 0.25);
  width: 400px;

  &-titulo{
    padding: 5px;
    color: white;
  }

  &-conteudo{
    color: #777;
    padding: 20px;
    line-height: 1.5;
  }
}

span{

  $padding:20px;
  padding:{
    left: $padding;
    bottom: $padding / 2;
  }

  text:{
    align:center;
    indent: 20px;
  }

  font:{
    family: 'Helvetica';
    size: 30px;
  }

  border:{
    top:{
      style:dashed;
      left:{
        radius: 10px;
      }
    }
  }
}

input[type="text"]{
  border: 1px solid #ccc {
    top-color: #0000ff;
  }
}
